.navbar{ 
    a{
        background-color: #fff;
        padding: 9px 20px;
        border-radius: 20px;
        text-decoration: none;
        color: #3113ff;
        border: 1px solid transparent;
    }  

    a:hover{
        border: 1px solid #fff;
        background-color: transparent;
        color: #fff;
        transition: .3s;
    }
    
    a.active {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    }
}