.loader {
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-top-color: #52d4db;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}